html {
  background: url(../img/torontosunset1.png) no-repeat center center fixed; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

#circle {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    opacity: 0.5;
    min-width: 25%;
    min-height: 25%;
}

#me {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    max-width: 60%;
    max-height: 60%;	
    opacity: 0.8;
}

a {
 color: inherit; 
}

a:hover {
 color: #FFAD33;
 text-decoration: none;
}

body{
	background-color: rgba(255, 255, 255, 0);
	color: white;
	font-family: "Poiret One";
	font-size: 100px;
}

#name {
	padding-top: 72vh;
}

#navbar {
	font-family: "Quicksand";
}

footer {
	font-size: 10px;
}






