

#projects{
	position: relative;
	height: 100vh;
	width: 100vw;
}

.projects {
	position: absolute;
	height: 100vh;
	width: 100vw;
	
	background: url(../img/torontorocks.png) no-repeat center center; 
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

/*=================FONTS==================*/
.raleway {
	font-family: "Raleway";
}

.ralewaybold {
	font-family: "Raleway";
	font-weight: 600;
}

.montserrat {
	font-family: "Montserrat";
}

.roboto {
	font-family: "Roboto";
}
/*==========================================*/

#nav a {
 color: inherit; 
}

#nav a:hover {
	color: #fff;
	text-decoration: none;
}

#nav {
	position: fixed;
	color: white;
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	padding: 0.7vw 0;
	z-index: 10;
	letter-spacing: 0.25em;
}

.margin-top {
	margin-top: 15px;
}

#circle {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    opacity: 0.15;
    min-width: 25%;
    min-height: 25%;
}

#me {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    max-width: 35%;
    max-height: 35%;	
}

.bigheading {
	font-size: 6vh;
	letter-spacing: .07em;
	text-align: center;
	color: #eee;
	padding-top: 72vh;
	max-width: 100%;
}

#downarrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 45px;
    padding-top: 30px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

/*
 * Animation configurations ( duration and fill mode )
*/
.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*
 * Animation for webkit
*/
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
} 
 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
} 
 
/*
 * Adding the animation to our element
*/

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

.main-image {
	margin-top: 17px;
	box-shadow: 0px 0px 2px 2px #e3e3e3;
}

.image {
	margin-top: 20px;
	box-shadow: 0px 0px 2px 2px #e3e3e3;
	height: 15em;
	width: 25em;
	margin-right: auto;
	margin-left: auto;
}

.narrow-image {
	margin-top: 20px;
	box-shadow: 0px 0px 2px 2px #e3e3e3;
	height: 15em;
	margin-right: auto;
	margin-left: auto;
}

