.projects {
	height: 100vh;
	background: url(../img/torontorocks.jpg) no-repeat center center; 
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	margin-top: -10px;
}

/*=================FONTS==================*/
.raleway {
	font-family: "Raleway";
}

.ralewaybold {
	font-family: "Raleway";
	font-weight: 600;
}

.montserrat {
	font-family: "Montserrat";
}

.roboto {
	font-family: "Roboto";
}
/*==========================================*/

a {
 color: inherit; 
}

a:hover {
	color: #777;
	text-decoration: none;
}

#nav {
	padding-top: 9px;
	text-align: center;
	background: rgba(255,255,255,0.5);
	letter-spacing: .2em;
}

#circle {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    opacity: 0.2;
    min-width: 25%;
    min-height: 25%;
}

#me {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    max-width: 35%;
    max-height: 35%;	
}

.bigheading {
	font-size: 6vh;
	letter-spacing: .1em;
	text-align: center;
	color: #eee;
	padding-top: 67vh;
	max-width: 100%;
}

#downarrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 45px;
    padding-top: 30px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.image {
	padding-top: 20px;
}

